<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Quiz Game</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <!-- <script src="/firstrequest.js"></script>
    <script src="/level2.js"></script>
    <script src="/getrequest.js"></script>

-->
    <script src="/gameStatic/start.js"></script>
   


    <script type="text/javascript"> </script>

</head>
<h1> Herzlich Willkommen! </h1>
<div id="game"></div>
<div id="score"></div>
<div id="joker"></div>

<!--
<div>
    <h3 id="question"></h3>
</div>

<div>
    <button id="option1" class="click"></button>

</div>

<div>
    <button id="option2" class="click"></button>

</div>

<div>
    <button id="option3" class="click"></button>

</div>

<div>
    <button id="option4" class="click"></button>

</div>-->

<div id="failure"></div>

</body>

</html>